@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: "Madimi One", sans-serif;
}

:root {
    --primary: #78909C;
    --secondary: #D9D9D9;
    --black: #000;
    --white: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5rem solid var(--primary);
    height: 5rem;
}

header figure {
    display: flex;
    align-items: center;
}

header figure img {
    padding: 0.3rem;
}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: var(--black);
}

header nav a:hover {
    font-weight: bold;
}

main {
    min-height: calc(100vh - 8.5rem);
}

main.index section {
    display: flex;
}

main.index section img {
    width: 50%;
}


/* Comentário */
main.comentario {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 0.5rem;
    align-content: baseline;
    padding: 0.5rem;
}

main.comentario section {
    background-color: var(--secondary);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

main.comentario section aside {
    display: flex;
}

main.comentario section aside p {
    font-size: 0.8rem;
    margin-left: 0.5rem;
}

footer {
    background-color: var(--primary);
    height: 3.5rem;
}